* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 100px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(155, 155, 155);
}

.div1 {
    width: 500px;
    height: 500px;
    background: black;   
    position: relative;
}

.div2 {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}